global !p

def first_word(text):
	if len(text) != 0:
		return text.split()[0]
	else:
		return ""

endglobal

snippet startdoc "start document"
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>$1</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		$0
	</body>
</html>
endsnippet

snippet ta "tag" i
<$1>$0</`!p snip.rv = first_word(str(t[1]))`>
endsnippet

snippet imp
<link rel="import" href="$0">
endsnippet
