snippet startdoc
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>$1</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		$0
	</body>
</html>
endsnippet

snippet ta
<$1>$0</$1>
endsnippet
