snippet fn "function"
fn $1 {
	$0
}
endsnippet

snippet for	"for"
for $1 {
	$0
}
endsnippet

snippet match "match"
match $1 {
	$0
}
endsnippet

snippet loop "loop"
loop {
	$0
}
endsnippet

snippet if "if"
if $1 {
	$0
}
endsnippet

snippet struct "struct"
struct $1 {
	$0
}
endsnippet

snippet pr "println!"
println!("$1"$0);
endsnippet
