[submodule "arduino"]
	path = plugins/arduino
	url = https://github.com/tclem/vim-arduino.git

[submodule "colorschemes"]
	path = plugins/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git

[submodule "editorconfig"]
	path = plugins/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim

[submodule "pathogen"]
	path = plugins/pathogen
	url = https://github.com/tpope/vim-pathogen.git

[submodule "syntastic"]
	path = plugins/syntastic
	url = https://github.com/scrooloose/syntastic.git

[submodule "tcomment"]
	path = plugins/tcomment
	url = https://github.com/tomtom/tcomment_vim.git

[submodule "ultisnips"]
	path = plugins/ultisnips
	url = https://github.com/SirVer/ultisnips.git

[submodule "unicode"]
	path = plugins/unicode
	url = https://github.com/chrisbra/unicode.vim.git

[submodule "haskellConcealPlus"]
	path = plugins/haskellConcealPlus
	url = https://github.com/enomsg/vim-haskellConcealPlus.git

[submodule "vim-polyglot"]
	path = plugins/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git

[submodule "vim-latex-live-preview"]
	path = plugins/vim-latex-live-preview
	url = https://github.com/xuhdev/vim-latex-live-preview.git
